<div>
	Bonjour {{ prenom }} {{ nom }},
	<br><br>
	Nous accusons réception de votre email. <br>
	Il sera traité dans les plus brefs délais.
	<br><br>
	Cordialement, <br>
	L'équipe {{ PROJECT_NAME }}.
</div>