<div>
	Bonjour,
	<br><br>
	Nous avons bien réceptionné votre demande d'inscription. <br>
	Afin de valider celle-ci, je vous invite à cliquer sur le lien ci-dessous : <br> <br>
	
	<br> <br>
	
	L'équipe {{ PROJECT_NAME }}

</div>